body
{
    font-size: 16px;
    background-color: darkgoldenrod;
    margin: 30px,50px;
   text-align: center;
}
h1
{
    color: darkgreen;
    letter-spacing: 0.7px;
    
}
h3
{
    color: goldenrod;
    text-align: center;
}
